<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/explore.css') }}">
</head>
<body>
    <h1>Delonghi Dedica</h1>
    <h5>Der klassische Einsteiger unter den Siebträgermaschinen</h5>

    <img width="80%" src="../static/data/images/test10.png" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, facilis harum recusandae veritatis placeat sit repellendus blanditiis ut veniam deleniti tempore beatae nulla animi ex ipsum explicabo dolorem soluta sequi.</p>

    <div class="footer"></div>
</body>
</html>