<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/fetch-detections.js') }}" defer></script>
</head>
<body>
    <img class="live-feed" src="{{ url_for('video_feed') }}">
    <div class="search-results-container" id="container">
        <h4>Identified coffee machine:</h4>
        <div class="search-result-holder" id="results-holder"></div>
    </div>
</body>
</html>